* {
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    margin: 0;
}

a {
    color: #fb5a67;
}

/* navigation bar */
/* navigation bar */

nav {
    display: inline;
  }
  
  .nav {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  
  nav img {
    max-width: 180px;
    margin-top: 10px;
    position: left;
  }
  
  .nav-sig {
    display: inline-block;
    width: min-content;
  }
  
  .links {
    padding-top: 30px;
    float: right;
    margin-right: 60px;
    position: relative;
    text-decoration: none;
    
  }
  
  nav ul {
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav button {
    color: black !important;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
   
  
  .links .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fb5a67 !important;
    text-underline-offset: .25rem;
    text-decoration-thickness: 4px;
  }
  

  
  #examples .example .hover1:before,
  #examples .example .hover1:after, 
  #examples .example .hover2:before,
  #examples .example .hover2:after, 
  #examples .example .hover3:before,
  #examples .example .hover3:after,
  #examples .example .hover4:before,
  #examples .example .hover4:after, 
  #examples .example .hover5:before,
  #examples .example .hover5:after  {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
  }
  
  #examples .hover1:hover.hover1:before,
  #examples .hover1:hover.hover1:after, 
  #examples .hover2:hover.hover2:before,
  #examples .hover2:hover.hover2:after, 
  #examples .hover3:hover.hover3:before,
  #examples .hover3:hover.hover3:after, 
  #examples .hover4:hover.hover4:before,
  #examples .hover4:hover.hover4:after, 
  #examples .hover5:hover.hover5:before,
  #examples .hover5:hover.hover5:after {
    width: 100%;
    opacity: 1;
  }
  
  #examples .example .hover1.hover1-1:before,
  #examples .example .hover1.hover1-1:after, 
  #examples .example .hover2.hover2-1:before,
  #examples .example .hover2.hover2-1:after, 
  #examples .example .hover3.hover3-1:before,
  #examples .example .hover3.hover3-1:after,
  #examples .example .hover4.hover4-1:before,
  #examples .example .hover4.hover4-1:after,
  #examples .example .hover5.hover5-1:before,
  #examples .example .hover5.hover5-1:after{
    left: 0;
  }
  
  #examples .example .hover1, 
  #examples .example .hover2, 
  #examples .example .hover3,
  #examples .example .hover4, 
  #examples .example .hover5 {
    transition: 0.2s;
    position: relative;
  }
  
  .name {
    margin-left: 30px;
    letter-spacing: 2px;
  }
  
  .signature {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  img {
    max-width: 450px;
  }





/*Home Page */
.split-color {
    margin: 0;
    height: 100%;
    background: repeating-linear-gradient(to right, #fb5a67, #fb5a67 29.99%, #ffffff 30.00%, #ffffff 100%);
}

.home-container {
    display: flex;
    flex-wrap: wrap;
}

.col-picture {
    flex-basis: 20%;
}


.intro {
    font-weight: 500;
    font-size: large;
}

.picture {
    width: 65%;
    height: max-content;
    margin-left: 18%; 
    display: block;
    box-shadow: 5px 5px 4px #00000055;
}

.home-links {
    padding-left: 15%;
}





.pink-button strong {
    font-weight: 600;
    color: #ffffff;
   
}
.alignment-home {
    margin: auto;
    padding-left: 45%;

}



/* utils */ 
/* text and color */
.big-letters {
    font-weight: 700;
    color: #fb5a67;
    
}
.larger-letters {
    font-weight: 700;
    font-size: large;
}

.white-text {
    color: white;
}
.grey-text {
    color: gray;
}
.pink-button {
    background-color: #fb5a67;
    width: 200px;
}
.white-text a {
    font-size: x-large;
    color: white;
}

.pink-text {
    color: #fb5a67;
}
.white-text h4 {
    font-weight: bold;
}
.cursive {
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
    
}

.fa {
    padding: 15%;
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    color: #fb5a67;
    display: inline;
}

.row-icons {
    padding: 10px;
    width: 25%;
    flex-direction: row;
    
}
.row-icons a {
    
    color:#fb5a67;
}


.button {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -2;
  }
  
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fb5a67;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button:hover:before {
    width: 100%;
  }
  
  .button a {
    text-decoration: none;
  }
  
  .button a:hover {
    color: white;
  }




/* spacing */
.spacer {
    height: 100px;
}
.half-spacer {
    height: 50px;
}


.big-spacing {
    margin-top: 200%;
}





/* footer */

#sticky-footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #fb5a67;

}

.footer_container {
    display: flex;
}

.footer_email {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#footerIcon {
    width: 150px;

}

.footer-alignment {
    margin-right: 0;
    margin-top: 2%;
    margin-left: 100%;
    padding-left: 20px;
}

.footer-links div a {
    width: 35px;
    height: 35px;
}
small {
    padding-left: 8px;

/* flex-basis: 91%;
align-items: flex-start; */
}
  

.line p {
    display: inline;
}


/* Journey Page*/
.img-container {
    width: 100%;
    background-image: url(../img/Mountains\ background.png);
    height: 400px;
    background-position: center;
    
}
.road-container {
    
    background-image: url(../img/road.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.signpost {
    background-image: url(../img/signpost.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
}
 

/*Projects Page*/
.tag {
    background-color: #fb5a67;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
}

.projects-flex {
    display: flex;
}
.col-projects {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
#project-deco-img {
    float: right;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    shape-outside: inset(calc(100% - 100px) 0 0);
    
}
.card {
    width: 500px;
    height: 700px
   
}


/* effects */
a:hover {
    color: #000;
}

button strong:hover {
    color: #000;
}
.circle:hover {
    background-color: #000;
}
