* {
    font-family: 'Raleway', sans-serif;
}
html {
    height: 100%;
}
body {
    min-height: 100vh;
}

a {
    color: #fb5a67;
}

/* navigation bar */

nav {
    display: inline;
}

.nav {
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
}

nav img {
    max-width: 180px;
    margin-top: 10px;
    position: left;
}

.nav-sig {
    display: inline-block;
    width: min-content;
}

.links {
    padding-top: 30px;
    float: right;
    margin-right: 60px;
    position: relative;
    text-decoration: none;
}

nav ul {
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav button {
    color: black !important;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
}

/* nav a:hover {
    -webkit-text-fill-color: black;
    text-decoration: underline;
    text-decoration-color: #fb5a67 !important;
    text-underline-offset: .25rem;
    text-decoration-thickness: 4px; 
  } */

/* .links button:hover {
    outline: none;
    border: none;
    text-decoration: underline;
    text-decoration-color: #fb5a67 !important;
    text-underline-offset: .25rem;
    text-decoration-thickness: 4px; 
  } */


.links .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fb5a67 !important;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 4px;
}

#examples .example .hover1 {
    transition: 0.2s;
    position: relative;
}

#examples .example .hover1:before,
#examples .example .hover1:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
}

#examples .hover1:hover.hover1:before,
#examples .hover1:hover.hover1:after {
    width: 100%;
    opacity: 1;
}

#examples .example .hover1.hover1-1:before,
#examples .example .hover1.hover1-1:after {
    left: 0;
}

#examples .example .hover2 {
    transition: 0.2s;
    position: relative;
}

#examples .example .hover2:before,
#examples .example .hover2:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
}

#examples .hover2:hover.hover2:before,
#examples .hover2:hover.hover2:after {
    width: 100%;
    opacity: 1;
}

#examples .example .hover2.hover2-1:before,
#examples .example .hover2.hover2-1:after {
    left: 0;
}

#examples .example .hover3 {
    transition: 0.2s;
    position: relative;
}

#examples .example .hover3:before,
#examples .example .hover3:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
}

#examples .hover3:hover.hover3:before,
#examples .hover3:hover.hover3:after {
    width: 100%;
    opacity: 1;
}

#examples .example .hover3.hover3-1:before,
#examples .example .hover3.hover3-1:after {
    left: 0;
}

#examples .example .hover4 {
    transition: 0.2s;
    position: relative;
}

#examples .example .hover4:before,
#examples .example .hover4:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
}

#examples .hover4:hover.hover4:before,
#examples .hover4:hover.hover4:after {
    width: 100%;
    opacity: 1;
}

#examples .example .hover4.hover4-1:before,
#examples .example .hover4.hover4-1:after {
    left: 0;
}

#examples .example .hover5 {
    transition: 0.2s;
    position: relative;
}

#examples .example .hover5:before,
#examples .example .hover5:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 5px;
    margin: 1px 0 0;
    transition: 0.2s;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #fb5a67;
}

#examples .hover5:hover.hover5:before,
#examples .hover5:hover.hover5:after {
    width: 100%;
    opacity: 1;
}

#examples .example .hover5.hover5-1:before,
#examples .example .hover5.hover5-1:after {
    left: 0;
}

.split-color {
    margin: 0;
    height: 100%;
    background: repeating-linear-gradient(to right, #fb5a67, #fb5a67 39.99%, #ffffff 40.00%, #ffffff 100%);
}
